#robot-group {
    display:flex;
    flex-wrap:wrap;
    gap:20vw 0px;
}

.robot {
    display:flex;
    margin-left:10vw;
    margin-right:10vw;
    gap:0vw 2.5vw;
}

.robot-image {
    position: relative;
    flex-grow:0;
    height:38vw;
    width:65vw;
    object-fit:cover;
    border-radius: 10px;
    margin-bottom: 100px;
    left: 20vw;
}

.robot-link {
    text-decoration:none;
}

.robot-link:hover {
    background-color:var(--lightgray);
}

.robot-label {
    position: relative;
    flex:1;
    text-align: left;
    top: auto;
    right: 70vw;
    top: 6vw;
}

.robot-heading {
    display:flex;
    gap:2vw;
}

.robot-name {
    position: relative;
    font-family: Bebas Neue;
    font-size:2.5vw;
    color:black;
    margin-bottom:0px;
    right: auto;
    top: 1vw;
}

.robot-year {
    font-family: Bebas Neue;
    font-size:1.5vw;
    color:black;
    margin-top:0px;
}

.robot-description {
    font-family: Dosis;
    font-size:1.5vw;
    color:black;
}

.robot-performance h1{
    font-family: Dosis;
    font-size:1.8vw;
    color:black;
}

.robot-performance ul {
    padding:0px;
    margin:0px;
}

.robot-performance-item {
    margin-bottom:1vw;
    list-style:none;
    font-size:1.2vw;
    color:black;
}

.robot-performance-events {
    color:black;
}

.robot-event td{
    padding:0.8vw 2vw 0.8vw 0vw;
    font-size: 1.0vw;
}

.reverse {
    flex-direction:row-reverse;
    text-align:right;
}

.banner {
    background: var(--bannerblue);
    color: black;
    display: inline-block;
    height: 170px;
    width: 124px;
    line-height: 1.2;
    margin: 0 0 40px;
    padding: 8px;
    position: relative;
    text-align: center;
    vertical-align: top;
    white-space: normal;
}

.banner:after {
    content: '';
    position: absolute;
    display: block;
    border: 70px solid var(--bannerblue);
    border-top-width: 5px;
    border-bottom: 20px transparent solid;
    top: 100%;
    left: 0;
}

.banner img {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 75px;
    max-height: 45px;
}

.banner .award-name, .banner .award-name-long {
    display: table;
    width: 100%;
    height: 35px;
    font-weight: bolder;
    margin: 0;
    margin-top: 3px;
    margin-bottom: 3px;
}

.banner .award-event {
    font-size: 85%;
    line-height: 130%;
}

.bhbutton {
    font-family: Bebas Neue;
    font-size: 1.5vw;
    position: relative;
    top: -6vw;
    height: 50px;
    width: 100px;
}