footer {
    margin:0px;
    text-align:center;
    background-color:black;
    color:var(--white);
    bottom:0px;
    border-top:3px white solid;
}

#bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vw;
}

#names {
    position: relative;
    left: 37vw;
    font-size: .7vw;
    text-align: right;
    display: inline-block;
}

#copyright {
    font-size:1vw;
    margin-left: 5vw;
    margin-right: -5vw;
    padding: 0.8vw;
}

#contacts {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 2vw;
    margin-top: 2vw;
    font-size: 1.2vmax;
    align-items: center;
    justify-content: center;
}

#icons {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 10vw;
}

.contact {
    width: 25px;
    height: 25px;
    transition: 0.3s;
}

#address {
    font-size:1vw;
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: inherit;
}

#address-div {
    margin: 1.6vw 0.8vw 0.8vw;
}
