footer {
    margin:0px;
    text-align:center;
    background-color:black;
    color:var(--white);
    bottom:0px;
    border-top:3px white solid;
}

#bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vw;
}

#names {
    position: relative;
    left: 37vw;
    font-size: .7vw;
    text-align: right;
    display: inline-block;
}

#copyright {
    font-size:1vw;
    margin-left: 5vw;
    margin-right: -5vw;
    padding: 0.8vw;
}

#frc-logo {
    width:2.5vw;
    padding-bottom:0.8vw;

}

#address {
    font-size:1vw;
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: inherit;
}

#address-div {
    margin: 1.6vw 0.8vw 0.8vw;
}
