.welcome {
    font-family: Bebas Neue;
    align-content: baseline;
    font-size:min(100px,10vmax);
    color:var(--white);
    margin:0px;
}

#introduction {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top:4vw;
    margin-left:10vw;
    margin-right:10vw;
    margin-top: -14vh;
    background-image: url("../assets/global/Banner.jpeg");
    width:100%;
    position:relative;
    left: -10vw;
    bottom: -14vh;
    height: 60vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

#urbana-logo {
    max-height: 20vw;
    min-width: 200px;
    flex-basis: 200px;
    object-fit: contain;
    flex-shrink: 1;
    flex-grow: 1;
}

#introduction-description {
    display:flex;
    flex-direction:column;
    flex-basis: 350px;
    min-width: 350px;
    flex-shrink: 1;
    flex-grow: 1;
    color: white;
}

#introduction-title {
    font-family: Bebas Neue;
    font-size:3vmax;
    color:var(--black);
}

#introduction-text {
    font-family: Dosis;
    font-size:max(15px,1.5vmax);
    color:var(--black);
    margin:0px;
}

#introduction-description:nth-child(2){
    transition-delay: 200ms;
}
