#newsletter-top {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    height: 40vh;
    width: 40vw;
}

#newsletter-title {
    font-size: 6vmax;
    font-family: Bebas Neue;
    color:white;
}

#newsletter-des {
    font-size: 2vmax;
    font-family: Bebas Neue;
    color:white;
    margin-top: -5vh;
}

#newsletter-group {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:5vw;
}

.newsletter-link {
    text-decoration:none;
    margin-left:10vw;
    margin-right:10vw;
}

.newsletter {
    display:flex;
    justify-content:center;
    gap:0vw 2.5vw;
    background-color:var(--darkgray);
    width:auto;
    padding:2vw;
    border-radius: 10px;
    transition: 0.3s;
    height: 60vh;
}


.newsletter:hover {
    background-color:var(--lightgray);
    transform: scale(1.1);
}

.newsletter-title {
    font-family: Bebas Neue;
    font-size:3vw;
    color:var(--white);
    margin:0px;
    padding:0px;
}

.newsletter-date {
    font-family: Dosis;
    font-size:1vw;
    color:var(--white);
    margin:0px;
    padding:0px;
}

.newsletter-description-text {
    font-size:1.2vw;
    color:var(--white);
    margin-top:2vw;
}


.newsletter-cover-image {
    max-width: 40vw;
    max-height: 70vh;
    border-radius: 10px;
}

.newsletter-description{
    height:42vh;
}

/* .newsletter-author{
    height:30vh;
} */

.newsletter-author-description {
    font-size:1.5vw;
    color:var(--white);
}

sup {
    font-size:0.6vw;
}
