#TeamTitle {
    position: relative;
    top: 23vh;
    font-family: Bebas Neue;
    color: white;
    text-align: center;
    font-size: calc(60px + 1vmax);
    margin:0px;
    padding-top:4vmax;
    padding-bottom:4vmax;
}

#sub-teams {
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    color: white;
}

.description {
    text-align: center;
    opacity: 0;
    font-family: Dosis;
    font-size: 100%;
    transition: 0.3s;
}

.icons {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.description-div {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 40%;
    align-items: start;
    overflow: hidden;
}

.teams {
    text-decoration: none;
    color: inherit;
}

.teams:nth-child(even){
    margin-right: 6vw;
}

.mentors{
    width: 88vw;
    height: 60vh;
    background: var(--lightgray1);
}

.students {
    width: 41vw;
    height: 60vh;
    background: var(--lightgray2);
    float: left;
}

.sub-team-div {
    margin-bottom: 6vw;
    border-radius: 1vw;
    border: 3px solid white;
    transition: 0.3s;
}

.sub-team-div:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.4);
}

.sub-team-div:hover img {
    transform: translateY(-5vh);
}

.sub-team-div:hover .description {
    opacity: 1;
}

img {
    transition: 0.3s;
}

.subteam-name {
    margin: 0;
}

.icon {
    width: 10vw;
    height: auto;
}

#subheader {
    position: relative;
    top: 15vh;
    font-family: Bebas Neue;
    color: white;
    font-size: 1.7vmax;
    text-align: center;
    margin-bottom: 20vh;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button1 {
    align-self: center;
    justify-self: center;
    font-size: 1.7vmax;
    color: white;
    width: 13.5vw;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 5vh;
    height: 8vh;
    border: 4px solid white;
    border-radius: 20px;
    border-color: white;
    background-color: rgba(0,0,0,0);
}

.button1:hover {
    border-color: rgb(144, 140, 255);
}